APP_NAME=Grace
APP_ENV=local
APP_KEY=base64:cyFyVZvoVefb+QgrztPYO3z0yN1NOkhxI/IAtvwcr6I=
APP_DEBUG=false
APP_URL=https://www.grace-glossy.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=grace_db
DB_USERNAME=root
DB_PASSWORD=

LOGIN_SOCIAL_PROVIDERS=google,facebook,github

GOOGLE_CLIENT_ID=739195568736-ai6bm40l9t5ni3c6aun86c243al2vl3q.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

FACEBOOK_CLIENT_ID=913133390944075
FACEBOOK_CLIENT_SECRET=19d8ce4f663de0734fbb7d8f181427a1

GITHUB_CLIENT_ID=Ov23li8VBHYQi3lU3VVN
GITHUB_CLIENT_SECRET=3bbd4ef5b6aca1c6e382dd0f9156f8673bd9599f

STRIPE_KEY=pk_test_51RhBYy2e5uZ1hzWBcCqBargSinjey3X9d8laPRdKGWXsz9yKUhBXmO1q0f5fcABR1KjDA18CiLBermFsN5s68Ir400hVAl2OJR
STRIPE_SECRET=sk_test_51RhBYy2e5uZ1hzWBE8gHQGbUseEuYqlgdg2LKBE1NzkioETvX2enp9RYzbyq4Vq6lEGxLZ5m56lCajkznBzEam9X00KdMnVw7r

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST="tls://genuine-pipefish-16244.upstash.io"
REDIS_PASSWORD="AT90AAIjcDE0NzlmODAyYTdhNDY0ZDIwYWQwYzcwOGFjMWQ0YjQ4NXAxMA"
REDIS_CACHE_DB=0
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=graceglossyfashion@gmail.com
MAIL_PASSWORD=fyaagttrvjkdsisf
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="graceglossyfashion@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
